<h4><small>Arrays</small></h4>

<div *ngIf="warningMsg" class="warningMsg">Warning : {{warningMsg}}
        <button (click)="closeWarning()" type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
</div>

<div class="displayArea">
    <div class="displayBox">
    <span class="box" *ngFor="let n of arr">
        <span [ngClass]="n?'inertedBackground':'empty'">{{n}}</span></span>
    </div>
    <div>Numbers inserted : {{arrayLength}}</div>
</div>
<div class="row bottomContainer">
    <div class="col-5 operationsContainer">
        <form>
            <h5>Opertations :</h5> 
            <div class="operation">
                <button type="button" class="btn btn-primary insertButton" (click)="insert(insertNum)">Insert</button>Number : <input required class="small-input" #insertNum type="number"/> 
            </div>
            <div>
            <button type="button" class="btn btn-danger deleteButton"  (click)="delete()">Delete</button>
            </div>
            <div class="operation">
                <button type="button" class="btn btn-primary sizeButton" (click)="insertAt(insertIndex,insertNum1)">Insert At Index  </button> <input required class="small-input" #insertIndex type="number"/> Number : <input required class="small-input" #insertNum1 type="number"/> 
            </div>
            <div class="operation">
                    <button type="button" class="btn btn-danger sizeButton" (click)="deleteAt(insertIndex1)">Delete At Index  </button> <input required class="small-input" #insertIndex1 type="number"/> 
                </div>
            <div><h5>Size :</h5>
            Current size :  {{size}}
            <div>
                <button type="button" class="btn btn-warning sizeButton"  (click)="sizeIncrease()">Increase size (2X)</button>
                </div>
                <div>
                    <button type="button" class="btn btn-warning sizeButton"  (click)="sizeDecrease()">Decrease size (2X)</button>
                    </div>
                </div>
        </form>
    </div>
    <div class="col-1"></div>
    <div class="col-6 logsContainer">
        <app-simple-logs [logMessages]="logMessages"></app-simple-logs>
</div>
</div>